.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

section#slides_parent {
    padding-bottom: 150px;
}

.slides {
    display: flex;
    justify-content: center;
}

.slides h4 {
    color: #444;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.slide_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.5s ease;
}

.slide_1:hover {
    min-width: 250px;
}

.slide_1:hover .slide_info {
    transform: rotate(0deg);
    left: 20px;
    bottom: 20px;
    font-size: 22px;
}

.slide_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe2.jpg);
}

.slide_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe3.jpg);
}

.slide_4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe4.jpg);
}

.slide_5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe5.jpg);
}

.slide_6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe6.jpg);
}

.slide_7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/recipe_slides/recipe7.jpg);
}

.slide_info {
    position: absolute;
    bottom: 51px;
    color: #ffff;
    transform: rotate(-90deg);
    right: 0px;
    font-weight: 700;
    font-size: 12px;
}
/* page 2 end*/

.container{
    max-width: 80rem;
    margin: 0 auto;
}


@media (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}


@media screen and (max-width:768px) {
    
    section#welcome_Sec h2 {
        font-size: 21px;
    }

    section#welcome_Sec p {
        font-size: 14px;
        color: #777;
        font-weight: 400;
        line-height: 26px;
    }

    .slides {
        flex-direction: column;
    }

    .slide_1 {
        width: 90%;
        min-width: 90%;
        height: 240px;
        margin: 20px 15px;
    }

    section#welcome_Sec {
        text-align: center;
        padding: 50px 0px 20px;
    }

   

    .slide_info {
        bottom: 21px;
        transform: rotate(0deg);
        left: 20px;
        font-size: 19px;
    }
}